/* Police de caractère */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Corp de la page */
body {
    font-family: roboto;
}

/* En-tête */
header {
    text-align: center;
    background-repeat: no-repeat;
    color: aliceblue;
    background-color: #002e5a;
    position: fixed; /* Fixe le header en haut */
    top: 0; /* Positionne le header tout en haut */
    left: 0; /* Positionne le header tout à gauche */
    width: 100%; /* S'assure que le header couvre toute la largeur */
}

nav {
    padding-top: 60px; 
}

a {
    text-decoration: none;
    color: #002e5a;
}

/* Image de présentation */
img {
    width: 500px;
}

/* Bas de page */
footer {
    position: fixed; /* Fixe le footer en bas de la page */
    bottom: 0; /* Aligne le footer au bas de la page */
    right: 0; /* Aligne le footer à droite de la page */
    padding: 10px; /* Ajustez le padding selon vos besoins */
}